.tabs {
  padding-top: 5%; }

.admin-panel .user-search {
  display: flex;
  flex-direction: column; }

.user-input {
  display: flex; }

  .search-user-form p {
    font-weight: 700; }
  .search-user-form .submit-input {
    margin-left: 5%; }

.user-username, .user-balance, .user-birthday {
  width: 23%; }

.edit-user p {
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 5px; }

.change-user-btn {
  margin-right: 5%; }

.edit-user .empty-cart {
  display: inline;
  color: red; }

.add-product-btn {
  margin-left: 5%; }
