:root {
    --color-blue: #3c78d8; 
    --color-blue-Hover:#2964c4;
   --color-primary: #5D5D5D;
   --color-background: #3d3d3d;
   --color-backgroundWhite: #f7f8f9;
   --color-white: #fff;
   --color-green: #59B210;
   --color-fonts: #434343;
   --color-prize: #301c53;
   --color-table: #747474;
   --color-navHover: #54a90f;
   --color-backTextarea: #EFEEED;
   --color-borderHover: #c7c6c6;
   --color-sale:#F8484A;
   --color-names: #1257ab;
  }
* {
    box-sizing: border-box;
    font-size: 15px;
    color: #5D5D5D;
    margin: 0;
    padding: 0;
}
.images-wrap{
    text-align: center;
}
.react-slideshow-container{
    margin: 3% 0 3% 0;
    background-color: #f7f8f9;
}
.react-slideshow-container + div.indicators > div {
    width: 7px;
    height: 7px;
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .react-slideshow-container + div.indicators > div:hover {
    background: var(--color-blue);
    height: 10px;
    width: 10px;
  }
  
  .react-slideshow-container + div.indicators > div.active {
    background: var(--color-blue-Hover);
    height: 10px;
    width: 10px;
  }
.indicators{
    margin: 5% 0 5% 0;
}
footer {
    background-color: #f7f8f9;
}
footer .link-list-row {
    padding: 5%;
}
footer .container {
    width: 100%;
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
footer .container ul {
    list-style-type: none;
    padding: 0;
}
footer .container ul li {
    list-style-type: none;
    margin-right: 10px;
    font-size: 16px;
}
footer .container ul li a {
    color: #fff;
    padding: 6px;
    background-color: #3d3d3d;
    border-radius: 100px;
}
footer .container ul li a .fa {
    line-height: 1;
}
footer .container ul li a .fa:hover {
    color: #59b210;
    cursor: pointer;
}
footer .container_1-of-5 {
    width: calc(100% / 3);
    padding: 0 15px 0 15px;
}
footer .container_1-of-5-logo {
    display: inline-block;
    vertical-align: top;
}
footer .container_1-of-5-logo--image {
    max-width: 50%;
    vertical-align: middle;
    border: 0;
}
footer .container_1-of-5>p:nth-child(2) {
    margin: 0 0 29px;
    font-weight: 700;
    line-height: 1.4;
    font-size: 20px;
}
footer .container_1-of-5>p:nth-child(3) {
    margin: 0 0 20px;
    line-height: 1.4;
}
footer .container_1-of-5 .social-icons {
    margin: 58px 0 0;
    list-style: none;
    padding: 0;
}
footer .container_1-of-5 .social-icons>h3 {
    line-height: 27px;
    font-size: 20px;
    letter-spacing: -1px;
    padding-bottom: 11px;
    font-weight: 600;
}
footer .container_1-of-5 .social-icons ul li {
    display: inline-block;
}footer .container_1-of-5 .social-icons ul li p{
    font-size: 26px;
    padding-right: 20px;
    color: var(--color-names);
}footer .container_1-of-5 .social-icons ul li p:hover{
    cursor: pointer;
    color: var(--color-blue-Hover);
}
footer .container_1-of-5 .social-icons ul li a {
    text-decoration: none;
}
footer .container_2-of-5 h4,
footer .container_3-of-5 h4,
footer .container_4-of-5 h4,
footer .container_5-of-5 h4 {
    padding-bottom: 25px;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0;
    font-weight: 700;
}
footer .container_2-of-5 ul li,
footer .container_3-of-5 ul li,
footer .container_4-of-5 ul li,
footer .container_5-of-5 ul li {
    margin: 0 0 12px 0;
    color: #adadad;
    font-weight: 500;
}
footer .container_2-of-5 ul li:hover,
footer .container_3-of-5 ul li:hover,
footer .container_4-of-5 ul li:hover,
footer .container_5-of-5 ul li:hover {
    color: var(--color-blue-Hover);
    cursor: pointer;
}
footer .footer-copyright {
    background-color: #3d3d3d;
    width: 100%;
    height: 100px;
}
footer .footer-copyright-container {
    width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
footer .footer-copyright-container .authors {
    width: 30%;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
footer .footer-copyright-container .authors .names {
    display: flex;
    flex-wrap: wrap;
}
footer .footer-copyright-container .authors .names>h3:nth-child(2n+2) {
    padding-left: 10px;
}
footer .footer-copyright-container .authors .names>h3:nth-child(3),
footer .footer-copyright-container .authors .names>h3:nth-child(4) {
    padding-top: 5px;
}
footer .footer-copyright-container .authors .copy {
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translate(-50%, -50%);
}
footer .footer-copyright-container .payment-methods {
    width: 25%;
    align-self: center;
}
footer .footer-copyright-container .payment-methods ul {
    display: flex;
    justify-content: space-evenly;
}
footer .footer-copyright-container h3 {
    display: inline;
    color: #fff;
    font-size: 16px;
}
footer .footer-copyright-container ul li {
    display: inline-block;
    background-color: #fff;
    width: 50px;
    text-align: center;
    border-radius: 2px;
    padding: 0 5px;
}
.top {
    background-color: #F9F9F9;
    border: 1px solid rgb(143, 142, 142);
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.menu {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}
.left{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}
.right {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}
.left li a, .right li a{
    color: var(--color-blue);
    font-size: 15px;
    font-weight: 600;
}
.menu--item {
    width: 100px;
    text-align: center;
    border-top: 0;
    border-bottom: 0;
    padding: 10px 5px;
}
.menu--item>* {
    text-decoration: none;
}
.logo {
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
}
img.logoImg {
    width: 100%;
}
.search {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    width: 50%;
}
.categories {
    width: 40%;
    padding: 10px 0 10px 0;
    /* background-color: #f7f8f9; */
}
.inputAndAll{
    border: 2px solid var(--color-primary);
    justify-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
}
form.search input[type=text] {
    padding-left: 2%;
    width: 90%;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
/* form.search .categoriesClass {
    padding: 10px;
    font-size: 17px;
    border: none;
    border-left: 1px solid rgb(143, 142, 142);
    width: 100%;
    margin: 0;
    background-color: #f7f8f9;
} */
.scroll-btn {
    width: 15%;
}
.search-btn{
    width: 100%;
    height: 100%;
    background-color: var(--color-blue);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}
.fa-search {
    color: #fff;
}
form.search button:hover {
    background-color: var(--color-blue-Hover);
}
form.search::after {
    content: "";
    clear: both;
    display: table;
}
.empty-cart{
    text-align: center;
    margin: 10% auto;
    color: #301c53;
}
.empty-cart:hover{
    color: #301c53;
}
.middleHeader {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border-bottom: 1px solid grey;
    background-color: white;
}
.form {
    width: 50%;
    margin: 100px auto 0;
    border: 2px dotted #282c34;
    border-radius: 10px;
    padding: 40px;
}
.input--group {
    padding: 5px;
}
.form--input,
.btn--login {
    padding: 7px;
}
.btn {
    border: none;
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}
.btn--login {
    background-color: #282c34;
    box-shadow: 0 0 1px 1px #30394bce;
    border-radius: 3px;
    color: #fff;
}
/*Slider Style*/
.slider {
    position: relative;
    z-index: 1;
    width: 900px;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
}
.slider_container {
    position: relative;
    width: 100%;
    height: 100%;
    white-space: nowrap;
}
.slide {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.arrow {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3333;
    border-radius: 30px;
    cursor: pointer;
    /* transition: transform cubic-bezier(0.455, 0.03, 0.515, 0.955) 300ms; */
}
.back_arrow {
    position: absolute;
    display: none;
    top: 50%;
    z-index: 100;
    opacity: 0.5;
}
.next_arrow {
    position: absolute;
    top: 50%;
    display: none;
    z-index: 100;
    opacity: 0.5;
}
.slider_container:hover~.back_arrow,
.back_arrow:hover {
    left: 5px;
    display: flex;
    opacity: 1;
}
.slider_container:hover~.next_arrow,
.next_arrow:hover {
    right: 5px;
    display: flex;
    opacity: 1;
}