.messenger {
  height: 100vh; }
  .messenger .chatbox {
    width: 500px;
    min-width: 390px;
    height: 100%;
    background-color: #fff;
    padding: 1.7%;
    margin: auto;
    box-shadow: 0 3px #e0e0e0; }
    .messenger .chatbox .chatlogs {
      padding: 2%;
      width: 100%;
      height: 80%;
      background-color: #f7f8f9;
      overflow-x: hidden;
      overflow-y: scroll; }
      .messenger .chatbox .chatlogs::-webkit-scrollbar {
        width: 10px; }
        .messenger .chatbox .chatlogs::-webkit-scrollbar-thumb {
          border-radius: 5px;
          background-color: rgba(0, 0, 0, 0.1); }
      .messenger .chatbox .chatlogs .chat {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        margin-bottom: 2.04%; }
        .messenger .chatbox .chatlogs .chat .user-photo {
          width: 12.4%;
          height: 60px;
          background-color: #EFEEED;
          border-radius: 50%;
          overflow: hidden; }
          .messenger .chatbox .chatlogs .chat .user-photo .chat-img {
            width: 100%; }
        .messenger .chatbox .chatlogs .chat .chat-message {
          width: 70%;
          padding: 3.06%;
          margin: 5px 10px 0;
          background-color: #59B210;
          color: #fff;
          font-size: 18px;
          border-radius: 10px; }
      .messenger .chatbox .chatlogs .chat-user .chat-message {
        background-color: #3a760a; }
      .messenger .chatbox .chatlogs .chat-admin .chat-message {
        order: -1; }
  .messenger .chat-form {
    margin-top: 20px;
    display: flex;
    align-items: flex-start; }
    .messenger .chat-form--textarea {
      background-color: #f0f0f0;
      width: 75%;
      height: 50px;
      border: 2px solid #eee;
      border-radius: 3px;
      resize: none;
      font-size: 18px;
      color: #434343;
      background-color: #f7f8f9;
      border: 1px solid black; }
      .messenger .chat-form--textarea::-webkit-scrollbar {
        width: 10px; }
        .messenger .chat-form--textarea::-webkit-scrollbar:hover {
          cursor: pointer; }
        .messenger .chat-form--textarea::-webkit-scrollbar-thumb {
          border-radius: 5px;
          background-color: rgba(0, 0, 0, 0.1); }
    .messenger .chat-form--btn {
      background-color: #59B210;
      padding: 5px 15px;
      font-size: 25px;
      color: #fff;
      border: none;
      margin: 0 10px;
      border-radius: 3px;
      box-shadow: 0 3px 0 #3a760a; }
