@media (max-width: 1320px) {
  .list-table .first-row, .list-table .second-row, .list-table .third-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5% 0 5%; }
    .list-table .first-row .each-product, .list-table .second-row .each-product, .list-table .third-row .each-product {
      width: 45%;
      padding: 5% 0 5% 0; }
  footer .footer-copyright-container .authors .names h3 {
    font-size: 12px; } }

@media (min-width: 860px) and (max-width: 1202px) {
  form.search input[type=text] {
    font-size: 20px; }
  .menu {
    flex-wrap: wrap; }
  .nav-bar_container ul li {
    padding: 18px 40px; }
  footer .footer-copyright-container .authors {
    width: 35%; }
    footer .footer-copyright-container .authors .names h3 {
      font-size: 12px; } }

@media (min-width: 730px) and (max-width: 1000px) {
  .cart p {
    font-size: 16px; }
  .first-row, .second-row, .third-row {
    display: flex;
    flex-wrap: wrap; }
    .first-row .each-product, .second-row .each-product, .third-row .each-product {
      width: 45%; }
  .menu {
    flex-wrap: wrap; }
  .nav-bar_container ul li {
    padding: 18px 30px;
    font-size: 16px; }
  footer .container {
    flex-wrap: wrap; }
    footer .container .container_1-of-5 {
      width: calc(100% / 2); }
  footer .footer-copyright-container .authors {
    width: 40%; }
    footer .footer-copyright-container .authors .names h3 {
      font-size: 10px; } }

@media (max-width: 905px) {
  form.search input[type=text] {
    font-size: 15px; } }

@media (min-width: 648px) and (max-width: 729px) {
  form.search input[type=text] {
    font-size: 12px; }
  .menu {
    flex-wrap: wrap; }
  .nav-bar_container ul li {
    padding: 24px 30px;
    font-size: 12px; }
  footer .footer-copyright-container .payment-methods {
    width: 35%; }
  footer .footer-copyright-container {
    width: 90%;
    margin: auto; }
  footer .container {
    flex-wrap: wrap; }
    footer .container .container_1-of-5 {
      width: calc(100% / 2); }
  footer .footer-copyright-container .authors {
    width: 35%; }
    footer .footer-copyright-container .authors .names h3 {
      font-size: 10px; } }

@media (min-width: 560px) and (max-width: 648px) {
  form.search input[type=text] {
    font-size: 12px; }
  .menu {
    flex-wrap: wrap; }
  .modal button {
    padding: 8px; }
  .nav-bar_container ul li {
    padding: 24px 25px;
    font-size: 10px; }
  footer .footer-copyright-container .payment-methods {
    width: 45%; }
  footer .footer-copyright-container {
    width: 100%; }
  footer .container {
    flex-wrap: wrap; }
    footer .container .container_1-of-5 {
      width: calc(100% / 2); }
  footer .footer-copyright-container .authors {
    width: 38%; }
    footer .footer-copyright-container .authors .names h3, footer .footer-copyright-container .authors .names h3:nth-child(2n+2) {
      padding-left: 0;
      font-size: 10px; } }

@media (min-width: 525px) and (max-width: 560px) {
  form.search input[type=text] {
    font-size: 12px; }
  .menu {
    flex-wrap: wrap; }
  .nav-bar_container ul li {
    padding: 24px 15px;
    font-size: 10px; }
  .modal button {
    padding: 3px; }
  footer .container {
    flex-wrap: wrap; }
    footer .container .container_1-of-5 {
      width: calc(100% / 2); }
  footer .footer-copyright-container .payment-methods {
    width: 45%; }
  footer .footer-copyright-container .authors {
    width: 45%; }
    footer .footer-copyright-container .authors .names h3, footer .footer-copyright-container .authors .names h3:nth-child(2n+2) {
      padding-left: 0;
      font-size: 10px; } }

@media (max-width: 525px) {
  form.search input[type=text] {
    font-size: 10px; }
  .basket-item-count img {
    width: 20px; }
  .basket-item-count p {
    font-size: 10px; }
  .menu {
    flex-wrap: wrap; }
  .modal button {
    padding: 3px; }
  .cancelbtn {
    margin-left: 0; }
  .nav-bar_container ul li {
    padding: 20px 20px;
    font-size: 10px; }
  footer .container {
    flex-wrap: wrap; }
    footer .container .container_1-of-5 {
      width: calc(100% / 2); }
  footer .footer-copyright-container .payment-methods {
    width: 45%; }
  footer .footer-copyright-container .authors {
    width: 45%; }
    footer .footer-copyright-container .authors .names h3, footer .footer-copyright-container .authors .names h3:nth-child(2n+2) {
      padding-left: 0;
      font-size: 10px; } }

@media (max-width: 485px) {
  .nav-bar {
    height: 40px; }
  .modal button {
    padding: 0; }
  .nav-bar_container ul li {
    padding: 14px 13.5px;
    font-size: 10px;
    border: none; }
    .nav-bar_container ul li:nth-child(1) {
      border-left: none; } }

@media (max-width: 420px) {
  .nav-bar {
    height: 20px; }
  .modal button {
    padding: 0; }
  .nav-bar_container ul li {
    padding: 14px 8px;
    font-size: 10px; }
  footer .footer-copyright-container {
    flex-direction: column; }
  footer .footer-copyright-container .authors {
    width: 100%; }
  footer .footer-copyright-container .authors .names {
    flex-wrap: nowrap;
    padding-top: 10px; }
  footer .footer-copyright-container .authors .names > h3:nth-child(3), footer .footer-copyright-container .authors .names > h3:nth-child(4) {
    padding-top: 0; } }

@media (max-width: 360px) {
  form.search input[type=text] {
    font-size: 7px; }
  .nav-bar {
    height: 20px; }
  .nav-bar_container ul li {
    padding: 10px 10px;
    font-size: 10px; }
  footer .footer-copyright-container {
    flex-direction: column; }
  footer .footer-copyright-container .authors {
    width: 100%; }
  footer .footer-copyright-container .authors .names {
    flex-wrap: nowrap;
    padding-top: 10px; }
  footer .footer-copyright-container .authors .names > h3:nth-child(3), footer .footer-copyright-container .authors .names > h3:nth-child(4) {
    padding-top: 0; } }

@media (max-width: 670px) {
  .list-table .first-row, .list-table .second-row, .list-table .third-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5% 0 5%; }
    .list-table .first-row .each-product, .list-table .second-row .each-product, .list-table .third-row .each-product {
      width: 80%;
      margin: auto;
      padding: 5% 0 5% 0;
      text-align: center; } }
