@media (max-width: 1320px) {
  .list-table .first-row, .list-table .second-row, .list-table .third-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5% 0 5%; }
    .list-table .first-row .each-product, .list-table .second-row .each-product, .list-table .third-row .each-product {
      width: 45%;
      padding: 5% 0 5% 0; }
  footer .footer-copyright-container .authors .names h3 {
    font-size: 12px; } }

@media (min-width: 860px) and (max-width: 1202px) {
  form.search input[type=text] {
    font-size: 20px; }
  .menu {
    flex-wrap: wrap; }
  .nav-bar_container ul a li a{
    padding: 18px 40px; }
  footer .footer-copyright-container .authors {
    width: 35%; }
    footer .footer-copyright-container .authors .names h3 {
      font-size: 12px; } }
      @media (max-width: 1167px) {
        .user-container{
          width: 65%;
        }
      }
      @media (max-width: 1077px) {
        .user-container{
          width: 70%;
        }
      }
      @media (max-width: 1000px) {
        .user-container{
          width: 75%;
        }
      }
      @media (max-width: 934px) {
        .user-container{
          width: 80%;
        }
      }
      @media (max-width: 875px) {
        .user-container{
          width: 85%;
        }
      }
      @media (max-width: 825px) {
        .user-container{
          width: 100%;
        }
      }

@media (min-width: 730px) and (max-width: 1000px) {
  .cart p {
    font-size: 16px; }
  .first-row, .second-row, .third-row {
    display: flex;
    flex-wrap: wrap; }
    .first-row .each-product, .second-row .each-product, .third-row .each-product {
      width: 45%; }
  .menu {
    flex-wrap: wrap; }
  .nav-bar_container ul a li a{
    padding: 18px 30px;
    font-size: 16px; }
  footer .container {
    flex-wrap: wrap; }
    footer .container .container_1-of-5 {
      width: calc(100% / 2); }
  footer .footer-copyright-container .authors {
    width: 40%; }
    footer .footer-copyright-container .authors .names h3 {
      font-size: 10px; } }

@media (max-width: 905px) {
  form.search input[type=text] {
    font-size: 15px; } }

@media (min-width: 680px) and (max-width: 729px) {
  form.search input[type=text] {
    font-size: 12px; }
  .menu {
    flex-wrap: wrap; }
  .nav-bar_container ul a li a{
    padding: 24px 30px 20px;
    font-size: 12px; }
  footer .footer-copyright-container .payment-methods {
    width: 35%; }
  footer .footer-copyright-container {
    width: 90%;
    margin: auto; }
  footer .container {
    flex-wrap: wrap; }
    footer .container .container_1-of-5 {
      width: calc(100% / 2); }
  footer .footer-copyright-container .authors {
    width: 35%; }
    footer .footer-copyright-container .authors .names h3 {
      font-size: 10px; } }

@media (min-width: 630px) and (max-width: 680px) {
  form.search input[type=text] {
    font-size: 12px; }
  .menu {
    flex-wrap: wrap; }
  .modal button {
    padding: 8px; }
  .nav-bar_container ul a li a{
    padding: 27px 25px 20px;
    font-size: 10px; }
  footer .footer-copyright-container .payment-methods {
    width: 45%; }
  footer .footer-copyright-container {
    width: 100%; }
  footer .container {
    flex-wrap: wrap; }
    footer .container .container_1-of-5 {
      width: calc(100% / 2); }
  footer .footer-copyright-container .authors {
    width: 38%; }
    footer .footer-copyright-container .authors .names h3, footer .footer-copyright-container .authors .names h3:nth-child(2n+2) {
      padding-left: 0;
      font-size: 10px; } }
@media (max-width: 740px){
  .menu{
    text-align: right;
  }

    .menu nav{
        width: 100%;
        text-align: center;
        display: none; 
        width: 40vw;
    }
        .menu nav ul {
            height: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
            .menu nav ul li{
                display: block;
                margin: 0 0 10px 0;
            }
            #toggle:checked + nav{
                display: block;
                height: 30vh;
                width: 90vw;
            }
            .heading-primary > span{
                font-size: 25px;
            }
            .burger-label{
              display: block;
            }
            }


@media (min-width: 525px) and (max-width: 630px) {
  form.search input[type=text] {
    font-size: 12px; }
  .menu {
    flex-wrap: wrap; }
  .nav-bar_container ul a li a{
    padding: 26px 15px 20px;
    font-size: 10px; }
  .modal button {
    padding: 3px; }
  footer .container {
    flex-wrap: wrap; }
    footer .container .container_1-of-5 {
      width: calc(100% / 2); }
  footer .footer-copyright-container .payment-methods {
    width: 45%; }
  footer .footer-copyright-container .authors {
    width: 45%; }
    footer .footer-copyright-container .authors .names h3, footer .footer-copyright-container .authors .names h3:nth-child(2n+2) {
      padding-left: 0;
      font-size: 10px; } }

@media (max-width: 525px) {
  form.search input[type=text] {
    font-size: 10px; }
  .basket-item-count img {
    width: 20px; }
  .basket-item-count p {
    font-size: 10px; }
  .menu {
    flex-wrap: wrap; }
  .modal button {
    padding: 3px; }
  .cancelbtn {
    margin-left: 0; }
  .nav-bar_container ul a li a {
    padding: 25px 10px 20px;
    font-size: 10px; }
  footer .container {
    flex-wrap: wrap; }
    footer .container .container_1-of-5 {
      width: calc(100% / 2); }
  footer .footer-copyright-container .payment-methods {
    width: 45%; }
  footer .footer-copyright-container .authors {
    width: 45%; }
    footer .footer-copyright-container .authors .names h3, footer .footer-copyright-container .authors .names h3:nth-child(2n+2) {
      padding-left: 0;
      font-size: 10px; } }
@media (max-width: 490px){
  .tab-list-item{
    display: block;
    width: 50%;
    margin-bottom: 2%;
  }
}
@media (max-width: 485px) {
  .nav-bar {
    height: 40px; }
  .modal button {
    padding: 0; }
    .nav-bar_container{
      padding: 0;
    }
  .nav-bar_container ul a li a{
    padding: 16px 10px 10px;
    font-size: 10px;
    border: none; }
    .nav-bar_container ul a li:nth-child(1) {
      border-left: none; } }
@media (max-width: 440px){
  .nav-bar {
    height: 40px; }
  .modal button {
    padding: 0; }
    .nav-bar_container{
      padding: 0;
    }
    .nav-bar_container ul a li a{
      padding: 14px 8px 10px;
      font-size: 10px;
      border: none; }
}

@media (max-width: 420px) {
  .nav-bar {
    height: 20px; }
  .modal button {
    padding: 0; }
  .nav-bar_container ul a li a{
    padding: 0;
    border: none;
    font-size: 10px; }
  footer .footer-copyright-container {
    flex-direction: column; }
  footer .footer-copyright-container .authors {
    width: 100%; }
  footer .footer-copyright-container .authors .names {
    flex-wrap: nowrap;
    padding-top: 10px; }
  footer .footer-copyright-container .authors .names > h3:nth-child(3), footer .footer-copyright-container .authors .names > h3:nth-child(4) {
    padding-top: 0; } }

@media (max-width: 380px) {
  form.search input[type=text] {
    font-size: 7px; }
  .nav-bar {
    height: 20px; }
  .nav-bar_container ul a li a{
    padding: none;
    font-size: 10px; }
  footer .footer-copyright-container {
    flex-direction: column; }
  footer .footer-copyright-container .authors {
    width: 100%; }
  footer .footer-copyright-container .authors .names {
    flex-wrap: nowrap;
    padding-top: 10px; }
  footer .footer-copyright-container .authors .names > h3:nth-child(3), footer .footer-copyright-container .authors .names > h3:nth-child(4) {
    padding-top: 0; } }

@media (max-width: 670px) {
  .list-table .first-row, .list-table .second-row, .list-table .third-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5% 0 5%; }
    .list-table .first-row .each-product, .list-table .second-row .each-product, .list-table .third-row .each-product {
      width: 80%;
      margin: auto;
      padding: 5% 0 5% 0;
      text-align: center; } }