@media (max-width: 1320px) {
  .list-table .first-row, .list-table .second-row, .list-table .third-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5% 0 5%; }
    .list-table .first-row .each-product, .list-table .second-row .each-product, .list-table .third-row .each-product {
      width: 45%;
      padding: 5% 0 5% 0; }
  footer .footer-copyright-container .authors .names h3 {
    font-size: 12px; } }

@media (min-width: 860px) and (max-width: 1202px) {
  .menu {
    flex-wrap: wrap; }
  .nav-bar_container ul li {
    padding: 18px 40px; }
  footer .footer-copyright-container .authors {
    width: 35%; }
    footer .footer-copyright-container .authors .names h3 {
      font-size: 12px; } }

@media (min-width: 730px) and (max-width: 1000px) {
  .first-row, .second-row, .third-row {
    display: flex;
    flex-wrap: wrap; }
    .first-row .each-product, .second-row .each-product, .third-row .each-product {
      width: 45%; }
  .menu {
    flex-wrap: wrap; }
  .nav-bar_container ul li {
    padding: 18px 30px;
    font-size: 16px; }
  footer .container {
    flex-wrap: wrap; }
    footer .container .container_1-of-5 {
      width: calc(100% / 2); }
  footer .footer-copyright-container .authors {
    width: 40%; }
    footer .footer-copyright-container .authors .names h3 {
      font-size: 10px; } }

@media (min-width: 648px) and (max-width: 729px) {
  .menu {
    flex-wrap: wrap; }
  .nav-bar_container ul li {
    padding: 24px 30px;
    font-size: 12px; }
  footer .footer-copyright-container .payment-methods {
    width: 35%; }
  footer .footer-copyright-container {
    width: 90%;
    margin: auto; }
  footer .container {
    flex-wrap: wrap; }
    footer .container .container_1-of-5 {
      width: calc(100% / 2); }
  footer .footer-copyright-container .authors {
    width: 35%; }
    footer .footer-copyright-container .authors .names h3 {
      font-size: 10px; } }

@media (min-width: 560px) and (max-width: 647px) {
  .menu {
    flex-wrap: wrap; }
  .nav-bar_container ul li {
    padding: 24px 25px;
    font-size: 10px; }
  footer .footer-copyright-container .payment-methods {
    width: 45%; }
  footer .footer-copyright-container {
    width: 100%; }
  footer .container {
    flex-wrap: wrap; }
    footer .container .container_1-of-5 {
      width: calc(100% / 2); }
  footer .footer-copyright-container .authors {
    width: 38%; }
    footer .footer-copyright-container .authors .names h3, footer .footer-copyright-container .authors .names h3:nth-child(2n+2) {
      padding-left: 0;
      font-size: 10px; } }

@media (min-width: 525px) and (max-width: 560px) {
  .menu {
    flex-wrap: wrap; }
  .nav-bar_container ul li {
    padding: 24px 15px;
    font-size: 10px; }
  footer .container {
    flex-wrap: wrap; }
    footer .container .container_1-of-5 {
      width: calc(100% / 2); }
  footer .footer-copyright-container .payment-methods {
    width: 45%; }
  footer .footer-copyright-container .authors {
    width: 45%; }
    footer .footer-copyright-container .authors .names h3, footer .footer-copyright-container .authors .names h3:nth-child(2n+2) {
      padding-left: 0;
      font-size: 10px; } }

@media (max-width: 525px) {
  .menu {
    flex-wrap: wrap; }
  .nav-bar_container ul li {
    padding: 20px 20px;
    font-size: 10px; }
  footer .container {
    flex-wrap: wrap; }
    footer .container .container_1-of-5 {
      width: calc(100% / 2); }
  footer .footer-copyright-container .payment-methods {
    width: 45%; }
  footer .footer-copyright-container .authors {
    width: 45%; }
    footer .footer-copyright-container .authors .names h3, footer .footer-copyright-container .authors .names h3:nth-child(2n+2) {
      padding-left: 0;
      font-size: 10px; } }

@media (max-width: 670px) {
  .list-table .first-row, .list-table .second-row, .list-table .third-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5% 0 5%; }
    .list-table .first-row .each-product, .list-table .second-row .each-product, .list-table .third-row .each-product {
      width: 80%;
      margin: auto;
      padding: 5% 0 5% 0;
      text-align: center; } }
