:root {
  --color-blue: #3c78d8; 
  --color-blue-Hover:#2964c4;
}
.cont h4 {
  color: var(--color-blue);
}
.cont input,
input[type="radio"] + label,
input[type="checkbox"] + label:before
 {
  width: 100%;
  padding: 1em;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}
.cont input:focus {
 
  border-color: var(--color-blue);
}
.cont input:focus + .input-icon i {
  color: var(--color-blue);
}
.cont input:focus + .input-icon:after {
  border-right-color: var(--color-blue);
}
.cont input[type="radio"] {
  display: none;
}
.cont input[type="radio"] + label,
select {
  display: inline-block;
  width: 50%;
  text-align: center;
  float: left;
  border-radius: 0;
}


.cont input[type="checkbox"] + label:after {
  position: absolute;
  top: 0.45em;
  left: 0.2em;
  font-size: 0.8em;
  color: #fff;
  
}
.cont input:checked + label:after {
  opacity: 1;
}

.input-group {
  margin-bottom: 1em;
  zoom: 1;
}
.img{
  
  display:flex;
  justify-content: center;

}


.sign-up{
  background-color: var(--color-blue);
  padding:10px;
  border:1px solid var(--color-blue);
  border-radius: 5px;
  color: #fff;
  font-weight: bolder;
  margin:0;
}
.input-group-icon {
  position: relative;
  width: 100%;
}
.input-group-icon input {
  padding-left: 4.4em;
}
.input-group-icon .input-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.4em;
  height: 3.4em;
  line-height: 3.5em;
  text-align: center;

}
.cont form{
  max-width: 400px;
}

.cont {
  max-width: 38em;
  display: flex;
  justify-content: center;
  padding: 1em 3em 2em 3em;
  margin: 0em auto;
  background-color: #fff;
  border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
  
}

.date div{
  display: inline-block;
  width:20%;
}
@media only screen and (max-width: 540px) {
  .col-half {
    width: 100%;
    padding-right: 0;
  }
}
