.tab-list {
  border-bottom: 1px solid #EFEEED;
  padding-left: 0; }

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  background-color: #f0f0f0;
  color: #3d3d3d;
  border-radius: 5% 5% 0 0;
  font-size: 19px;
  margin: 0.3%;
  border-bottom: 1px solid #e0e0e0;
  font-family: 'Open Sans', sans-serif;
  padding: 1% 3% 1% 3%;
  line-height: 30px; }
  .tab-list-item:hover {
    cursor: pointer;
    background-color: #54a90f; }

.tab-list-active {
  background-color: #59B210;
  transition: 0.1s;
  border: #f7f8f9;
  border-width: 1px 1px 0 1px;
  color: #fff;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  padding: 1% 4% 1% 4%; }

.item {
  width: 80%;
  margin: auto;
  background-color: #f7f8f9; }
  .item .container {
    width: 100%;
    margin: 10% 0 10% 0; }
    .item .container .image-and-description {
      display: flex;
      width: 100%;
      padding: 20px; }
      .item .container .image-and-description .image {
        width: 30%;
        height: 300px;
        background-image: url(../images/asus.png);
        background-size: cover;
        display: inline-block;
        margin-right: 5%; }
      .item .container .image-and-description .description {
        width: 65%;
        height: 70vh;
        display: inline-block;
        justify-content: space-between; }
        .item .container .image-and-description .description--title .item-title {
          font-size: 30px;
          color: #3D3D3D;
          line-height: 42px;
          font-weight: 500;
          letter-spacing: -1px;
          border-bottom: 1px #3d3d3d; }
        .item .container .image-and-description .description--item-price .price {
          font-size: 40px;
          color: #28124A;
          font-weight: 700;
          font-family: 'Open Sans', sans-serif; }
        .item .container .image-and-description .description--cart {
          width: 25%;
          display: flex;
          justify-content: space-between; }
          .item .container .image-and-description .description--cart .quantity {
            width: 25%;
            padding-left: 5%; }
          .item .container .image-and-description .description--cart .btn-cart {
            background-color: #59B210; }
            .item .container .image-and-description .description--cart .btn-cart:hover {
              background-color: #54a90f; }
