$color-primary: #5D5D5D;
$color-background: #3d3d3d;
$color-backgroundWhite: #f7f8f9;
$color-white: #fff;
$color-green: #59B210;
$color-fonts: #434343;
$color-table: #747474;
$color-navHover: #54a90f;
.header{ 
    background-color:  $color-backgroundWhite;
    font-family: 'Open Sans', sans-serif;
}
.nav-bar{
    background-color: $color-green;
    position: relative;
    width: 100%;
    margin: 33px 0 0 0;
    height: 60px;
    &_container{
        width: 75%;
        margin: auto;
        padding: 0 10px 0 10px;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        & ul {
            & li {
                list-style-type: none;
                display: inline;
                color: $color-white;
                font-size: 20px;
                font-weight: 700;
                font-family: 'Open Sans', sans-serif;
                padding: 18px 60px;
                text-decoration: none;
                border-right: 1px $color-primary solid;
                &:hover{
                    background-color: $color-navHover;
                    cursor: pointer;
                    color: $color-primary;
                }
            } 
        }
    }
}