* {
  background-color: #f7f8f9; }

.checkout {
  margin: 50px auto auto auto;
  width: 60%; }
  .checkout--header h2 {
    font-size: 50px;
    text-align: center;
    font-weight: 200; }
  .checkout--billing-address {
    margin: 50px; }
    .checkout--billing-address h2 {
      font-size: 30px;
      padding-bottom: 25px; }
    .checkout--billing-address p {
      padding-top: 25px;
      font-size: 16px;
      font-weight: 700;
      padding-bottom: 10px; }
    .checkout--billing-address select {
      width: 100%;
      height: 40px;
      background-color: #EFEEED; }
    .checkout--billing-address input {
      background-color: #EFEEED;
      height: 40px;
      border-style: none; }
    .checkout--billing-address .username {
      width: 100%;
      display: flex;
      justify-content: space-between; }
      .checkout--billing-address .username .first {
        width: 48%; }
        .checkout--billing-address .username .first-name {
          width: 100%; }
      .checkout--billing-address .username .last {
        width: 48%; }
        .checkout--billing-address .username .last-name {
          width: 100%; }
    .checkout--billing-address .company-name {
      width: 100%; }
      .checkout--billing-address .company-name input {
        width: 100%;
        height: 40px; }
        .checkout--billing-address .company-name input::placeholder {
          font-size: 16px;
          font-weight: 700;
          color: #B6B5B4; }
    .checkout--billing-address .address {
      display: flex;
      justify-content: space-between;
      width: 100%; }
      .checkout--billing-address .address .street {
        width: 48%; }
        .checkout--billing-address .address .street--input {
          width: 100%; }
          .checkout--billing-address .address .street--input::placeholder {
            font-size: 16px;
            font-weight: 700;
            color: #B6B5B4; }
      .checkout--billing-address .address .apartment {
        align-self: flex-end;
        width: 48%; }
        .checkout--billing-address .address .apartment--input {
          width: 100%; }
          .checkout--billing-address .address .apartment--input::placeholder {
            font-size: 16px;
            font-weight: 700;
            color: #B6B5B4; }
    .checkout--billing-address .town {
      display: flex;
      justify-content: space-between;
      width: 100%; }
      .checkout--billing-address .town .city, .checkout--billing-address .town .country, .checkout--billing-address .town .postcode {
        width: 31%; }
        .checkout--billing-address .town .city--input, .checkout--billing-address .town .country--input, .checkout--billing-address .town .postcode--input {
          width: 100%; }
          .checkout--billing-address .town .city--input::placeholder, .checkout--billing-address .town .country--input::placeholder, .checkout--billing-address .town .postcode--input::placeholder {
            font-size: 16px;
            font-weight: 700;
            color: #B6B5B4; }
    .checkout--billing-address .checkout_contact {
      display: flex;
      justify-content: space-between;
      width: 100%; }
      .checkout--billing-address .checkout_contact--mail, .checkout--billing-address .checkout_contact--phone {
        width: 48%; }
        .checkout--billing-address .checkout_contact--mail--input, .checkout--billing-address .checkout_contact--phone--input {
          width: 100%; }
          .checkout--billing-address .checkout_contact--mail--input::placeholder, .checkout--billing-address .checkout_contact--phone--input::placeholder {
            font-size: 16px;
            font-weight: 700;
            color: #B6B5B4; }
    .checkout--billing-address .order-notes {
      margin-top: 4%; }
    .checkout--billing-address .notes {
      width: 100%;
      height: 100px;
      display: flex;
      align-items: flex-end;
      flex-direction: column; }
      .checkout--billing-address .notes--textarea {
        padding-top: 2%;
        width: calc(100% - 2px);
        height: 80%;
        background-color: #EFEEED;
        resize: none; }
        .checkout--billing-address .notes--textarea::placeholder {
          font-size: 16px;
          font-weight: 700;
          color: #B6B5B4; }
  .checkout .place-order--btn {
    margin: 5% 0 15% 0;
    float: right; }
