.header {
    background-color: #f7f8f9;
    font-family: 'Open Sans', sans-serif; }
  
  .nav-bar {
    background-color: #59B210;
    position: relative;
    width: 100%;
    /* margin: 33px 0 0 0; */
    margin:0;
    height: 60px; }
    .nav-bar_container {
      margin: auto;
      padding: 0 10px 0 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .nav-bar_container--list{
        margin-bottom: 0px;
      }
      .nav-bar_container ul li {
        list-style-type: none;
        display: inline;
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        font-family: 'Open Sans', sans-serif;
        padding: 18px 60px;
        
        text-decoration: none;
        border-right: 1px #5D5D5D solid; }
        .nav-bar_container ul li:nth-child(1) {
          border-left: 1px #5D5D5D solid; }
        .nav-bar_container ul li:hover {
          background-color: #54a90f;
          cursor: pointer;
          color: #5D5D5D; }
          